<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>

    <form class="login" method="post" action="/login">
        <h2>Welcome, User!</h2>
        <p>Please log in</p>
        <input type="email" placeholder="email"  name="email"/>
        <input type="password" placeholder="Password" name="password" />
        <input type="submit" value="Log In" />
        <div class="links">
          <a href="#">Forgot password</a>
          <a href="/register">Register</a>
        </div>
      </form>
</body>
</html>