<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">

</head>
<body>
    
    <form class="login" method="post" action="/register">
        <h2>Welcome, User!</h2>
        <p>Please Register Heare </p>
        <input type="text" placeholder="User Name"  name="username"/>
        <input type="email" name="" id="" placeholder="email" name="email">
        <input type="password" placeholder="Password" name="password" />
        <input type="password" placeholder="Conform Password"  name="confompassword"/>
        <input type="submit" value="register" />
        <div class="links">
        
          <a href="/login">login</a>
        </div>
      </form>
</body>
</html>